<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Product Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <base href="/" />
</head>
<body ng-app="myApp" class="ng-cloak">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#!/home" class="navbar-brand">Product Store</a>
                @*@Html.ActionLink("Product Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="#!/Admin">Admin</a></li>
                    <li><a href="#!/About">About</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content ng-cloak">
        @RenderBody()
        <script type="text/ng-template" id="search.results.html">
            <div ng-controller="searchCtrl">
                <div class="container jumbotron text-center">
                    <h2>Product Store</h2>
                    <div class="row">
                        <form ng-submit="SearchProduct()">
                            <div class="col-md-6 col-md-offset-3 input-group">
                                <input type="text" ng-model="SearchCriteria.Term" class="form-control" placeholder="Search" required>
                                <label for="mySubmit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></label>
                                <input hidden id="mySubmit" type="submit" value="Search" />
                                <label for="checkid" style="word-wrap:break-word;" class="labelC">
                                    <input class="inputC" ng-model="SearchCriteria.OnlyAvailable" style="vertical-align:middle;" id="checkid" type="checkbox" />Exclude out of stock?
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" ng-repeat="product in SearchProductList">
                        <productdetails ng-click="ViewProductDetails(product)" product="product" showbtn="false">View Product</productdetails>
                        @*<img style="height:220px; width:180px;" ng-src="{{product.ImagePath}}" alt="{{product.Name}}" /><br />
                        <label><strong>{{product.Name}}</strong></label><br />
                        <label>{{"Rs. "+product.Price}}</label><label>{{" ("+product.DiscountPercent+"% OFF) "}}</label>
                        <p>{{product.Description}}</p>
                        <button ng-click="ViewProductDetails(product)" class="btn btn-group-sm">View Details</button>*@
                    </div>
                    <div class="container col-md-3 col-md-offset-3" ng-if="IsSeachCompleted && SearchProductList.length == 0">
                        <p>No products found. Try something else.</p>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="product.details.html">
            <button ng-click="GoHome()" class="navbar-left btn btn-group-sm" type="button">Back</button>
            <br />
            <h2> Product Details </h2>
            <div>
                @*<img ng-src="{{productInfo.ImagePath}}" alt="{{productInfo.Name}}" /><br />
                    <label><strong>{{productInfo.Name}}</strong></label><br />
                    <label>{{"Rs. "+productInfo.Price}}</label><label>{{" ("+productInfo.DiscountPercent+"% OFF) "}}</label>
                    <p>{{productInfo.Description}}</p>
                    <button class="btn btn-group-sm">Add to cart</button>*@
                <productdetails product="productInfo" showbtn="true" ></productdetails>
            </div>
        </script>
        <script type="text/ng-template" id="product.info.html">
            <img ng-src="{{product.ImagePath}}" alt="{{product.Name}}" />
            <br />
            <label><strong>{{product.Name}}</strong></label>
            <br />
            <label>{{"Rs. "+product.Price}}</label>
            <label>{{" ("+product.DiscountPercent+"% OFF) "}}</label>
            <p>{{product.Description}}</p>
            <button ng-click="AddToCart(product)" class="btn btn-group-sm" ng-if="ShowAdd">Add to cart</button>
        </script>

        <script type="text/ng-template" id="auth.login.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">Login</h3>
            </div>
            <form ng-submit="ok()">
                <div class="modal-body" id="modal-body">
                    <p ng-if="IsWrongCredentials" class="alert alert-danger">Please enter correct username or password.</p>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Username</label>
                        <input type="text" required class="form-control" id="formGroupExampleInput" ng-model="credential.userName" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput1">Password</label>
                        <input type="password" required class="form-control" id="formGroupExampleInput1" ng-model="credential.password" placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" type="submit" value="OK" />
                </div>
            </form>
        </script>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Product Store</p>
        </footer>
    </div>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>*@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Services/productService.js"></script>
    <script src="~/Scripts/Controller/SearchCtrl.js"></script>
    <script src="~/Scripts/Controller/AdminCtrl.js"></script>
    <script src="~/Scripts/Controller/productDetailsCtrl.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
